.container {
  width: min(1100px, 94vw);
  margin: 3.5em auto;
  gap: 16px;
}

.conteudo {
  display: flex;

}

.conteudo-principal {
  flex-grow: 2;
  padding: 1em;
}

.rodape {
  text-align: center;
  padding: 0.5em;
  color: #FFF;
}

@media (max-width: 768px) {
  .container {
    width: 94vw;
    margin: 1em auto;
  }

  .conteudo {
    flex-direction: column;
  }

  .conteudo-principal {
    padding: 0.75em 0;
  }
}
